{
  "env": {
    "browser": false,
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "plugin:promise/recommended",
    "plugin:node/recommended",
    "airbnb/base",
    "prettier"
  ]
}